# Flight Price Prediction

Problem Statement:
Flight ticket prices can be something hard to guess, today we might see a price, check out the price of the same flight tomorrow, it will be a different story. We might have often heard travellers saying that flight ticket prices are so unpredictable. Here you will be provided with prices of flight tickets for various airlines between the months of March and June of 2019 and between various cities.

In [ ]:
#Importing necessary Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#Loading dataset
# Reading excel file in a dataframe
df = pd.read_excel('Data_Train.xlsx')
df

The train dataset contains the details of the prices of flight tickets for various airlines between the months of March and June of 2019 and between various cities. The dataset contains both numerical and categorical data. Here Price is the target variable and as it has continuous data, its a Regression Problem Statement where we use Regression algorithms to predict the prices of the flight tickets.

In [ ]:
# Checking top 5 records
#Displaying first five rows of the dataset.
df.head()

In [ ]:
#Exploratory Data Analysis(EDA)
# Checking the dimensions of the dataset
df.shape

In [ ]:
# To get good overview of the dataset
df.info()

This gives the information about the dataset which includes indexing type, column type, not-null values and memory usage.

In [ ]:
# Checking the dtypes of dataset
df.dtypes

We can see that the train dataset has only object and int64 datatypes.

Feature Engineering
Working on all the columns and converting them to numeric

The columns Date_of_Journey,Arrival_Time and Dep_Time has datetime datatype but its reflecting as object. So lets convert this datatype into timestamp to use it properly for prediction.

In [ ]:
# Converting Date and time columns from object type to Datetime type
df['Date_of_Journey'] = pd.to_datetime(df['Date_of_Journey'])
df['Dep_Time'] = pd.to_datetime(df['Dep_Time'])
df['Arrival_Time']=pd.to_datetime(df['Arrival_Time'])

In [ ]:
# Rechecking the datatypes
df.dtypes

We have converted object datatype into datetime datatype.

Now splitting Date_of_journey into Month and Day, and as the dataset contains only 2019 year data so no need to take year column.

In [ ]:
# Extracting Day from Date_of_journey column
df['Journey_Day'] = pd.to_datetime(df.Date_of_Journey,format="%d/%m/%Y").dt.day

# Extracting Month from Date_of_journey column
df['Journey_Month'] = pd.to_datetime(df.Date_of_Journey, format="%d/%m/%Y").dt.month

So we have splitted the column Date_of_Journey into integer datatype , now we can drop this column as it is of no use.

In [ ]:
# Dropping Date_of_journey column
df.drop("Date_of_Journey",axis=1,inplace=True)

In [ ]:
# Duration

df['Duration']=df['Duration'].str.replace('h','*60').str.replace(' ','+').str.replace('m','*1').apply(eval)

#now lets convert this column into a numeric

df['Duration']=pd.to_numeric(df['Duration'])

Extracting hours and mins from Dep_Time column and dropping Dep_Time.

In [ ]:
# Extracting Hours from Dep_Time column
df['Dep_Hour']=pd.to_datetime(df['Dep_Time']).dt.hour

# Extracting Minutes from Dep_Time column
df['Dep_Min']=pd.to_datetime(df['Dep_Time']).dt.minute

In [ ]:
# Dropping Dep_Time column
df.drop("Dep_Time",axis=1,inplace=True)

Similarly extracting hours and mins from Arrival_Time column and dropping that column.

In [ ]:
# Extracting Arrival_Hour from Arrival_Time column
df['Arrival_Hour']=pd.to_datetime(df['Arrival_Time']).dt.hour

# Extracting Arrival_Min from Arrival_Time column
df['Arrival_Min']=pd.to_datetime(df['Arrival_Time']).dt.minute

# Dropping Arruval_Time column
df.drop("Arrival_Time",axis=1,inplace=True)

In [ ]:
# Lets check dataframe now
df.head()

In [ ]:
# Checking the dimension of dataframe now
df.shape

Lets check value counts in each column to find if there are any unexpected or corrupted entries in the dataset.

In [ ]:
# Checking the value counts of each column
for i in df.columns:
    print(df[i].value_counts())
    print("\n")

here are the list of unique values present in the columns.

From the above list of unique values,we can observe some repeated categories in some columns. Lets replace them.

In [ ]:
# Replacing "Jet Airwaus Business" as "Jet Airways" in the column Airline
df["Airline"]=df["Airline"].replace("Jet Airways Business","Jet Airways")

# Replacing "Multiple carriers Premium economy" as "Multiple carriers" in Airline column
df['Airline']=df["Airline"].replace("Multiple carriers Premium economy","Multiple carriers")

# Replacing "Vistara Premium economy" as "Vistara" in Airline column
df["Airline"] = df["Airline"].replace("Vistara Premium economy","Vistara")

# Replacing "New Delhi" as "Delhi" in Destination column
df["Destination"] = df["Destination"].replace("New Delhi","Delhi")

# In the column "Additional Info", "No Info" and "No info" are same so replacing it by "No Info
df['Additional_Info'] = df['Additional_Info'].replace("No info", "No Info")

# Replacing "1 Long Layover" and "2 Long layover" as "Long layover" in the column Additional Info
df['Additional_Info']=df['Additional_Info'].replace(["1 Long layover","2 Long layover"],"Long layover")

In [ ]:
# Rechecking the unique values in the above columns
val_count = ["Airline","Destination","Additional_Info"]

for i in val_count:
    print(df[i].value_counts())
    print("\n")

In [ ]:
# Checking number of unique values in each column
df.nunique()

In [ ]:
# Checking for null values in the dataframe
df.isnull().sum()

We can observe null values in Route and Total_Stops column. As both the columns have categorical data, we can fill them using mode.

In [ ]:
#Handling Null values using imputation techniques.
# Checking the mode of Categorical columns "Route" and "Total_Stops"
print("The mode of Route is:",df["Route"].mode())
print("The mode of Total_Stops is:",df["Total_Stops"].mode())

In [ ]:
# Filling the missing values in "Route" withs its mode
df['Route'] = df['Route'].fillna(df['Route'].mode()[0])

# Filling the mising values in "Total_Stops" by its mode
df['Total_Stops']=df['Total_Stops'].fillna(df['Total_Stops'].mode()[0])

In [ ]:
# Checking for missing values now
df.isnull().sum()

In [ ]:
# Lest check missing values using heatmap
sns.heatmap(df.isnull())

In [ ]:
# Checking for columns in the dataset
df.columns.tolist()

In [ ]:
# Checking the uniqueness of target column
df["Price"].unique()

In [ ]:
 Checking the list of counts in the target column.
df["Price"].value_counts()

In [ ]:
# Checking whether the dataset contains any space
df.loc[df['Price']==" "]

There is no empty space in any of the columns.

Description of Dataset

In [ ]:
# Statistical summary of the dataset
df.describe()

This gives the statistical information of the dataset. The summary looks perfect since there is no negative/invali values present. It gives the summary of numerical data.\ From the above description we can observe the following things.

The counts of all columns are same which means ther are no missing values present int he dataset.
The mean value is greater than the median(50%) in the columns Price,Journey_Day,Duration and Dep_Hour so we can say they are skewed to right.
The median(50%) is bit greater than mean in Dep_Min,Arrival_Hour and Arrival_Min which means they are skewed to left.
From the description we can say the minimum price of the flight tickets is Rs.1759 and maximum price is Rs.79512 and the mean is 9087.
Also there is a huge difference in maximum and 75% percentile in the columns Price, Arrival_Min which leads to outlies in thoe columns.
The std of target variable is high which means it has high rate of dispersion.

Description Visualization

In [ ]:
plt.figure(figsize=(10,12))
sns.heatmap(round(df.describe()[1:].transpose(),2),linewidth = 2, annot = True, fmt = '.2f')
plt.xticks(fontsize=18)
plt.yticks(fontsize=12)
plt.title("Variable Summary")
plt.show()

Lets separate numerical and categorical column.

In [ ]:
# Checking categorical columns
categorical_col = []
for i in df.dtypes.index:
    if df.dtypes[i]=='object':
        categorical_col.append(i) 
print(categorical_col)

In [ ]:
# Checking numerical column
numerical_col = []
for i in df.dtypes.index:
    if df.dtypes[i]!='object':
        numerical_col.append(i)
print(numerical_col)

Data Visualization


Univariate Analysis


Plotting Categorical columns

In [ ]:
# Visualizing the various Airlines present in the dataset
plt.figure(figsize=(8,5))
sns.countplot(df["Airline"])
plt.title("Count of flights in different Airlines")
plt.xticks(rotation=90)
plt.show()

Jet Airways flights has high counts whereas Trujet and GoAir has the least counts.

In [ ]:
# Visualizing the various Source from which place the service begins
plt.figure(figsize=(8,5))
sns.countplot(df["Source"])
plt.title("Count of different Airline Sources")
plt.xticks(rotation=90)
plt.show()

The majority of Airline source is from Delhi while the least is from Chennai.

In [ ]:
# Visualizing the destination from which place the service ends
plt.figure(figsize=(8,5))
sns.countplot(df["Destination"])
plt.title("Count of destination")
plt.xticks(rotation=90)
plt.show()

The Cochin destination has highest counts. Most of the flights services ends in Cochin destination.

In [ ]:
# Visualizing the Total Stops between the source and the destination
plt.figure(figsize=(8,5))
sns.countplot(df["Total_Stops"])
plt.title("Count of Total Stops between the source and the destination")
plt.show()

Majority of flights has 1 stop between the source and destination, followed by non stop. No flights have 4 stops between the source and destination.

In [ ]:
# Visualizing the Additional Information about the flight
plt.figure(figsize=(8,5))
sns.countplot(df["Additional_Info"])
plt.title("Count of Additional Information about the flight")
plt.xticks(rotation=75)
plt.show()

here is no much information about the flights that we can see in the plot.

Distribution of skewness

Plotting numerical columns

In [ ]:
# Checking numerical columns
plt.figure(figsize=(15,15))
plotnumber=1
for col in numerical_col:
    if plotnumber<=8:
        ax = plt.subplot(3,3,plotnumber)
        sns.distplot(df[col],color='indigo')
        plt.xlabel(col,fontsize=20)
    plotnumber+=1
plt.tight_layout()

From the distribution plot we can observe that the data i not normally distributed in some columns and some columns are almost normal but have no proper bell shape curve. The Journey_Month, Duration and Price columns are skewed to right as mean is more than the median.

Bivariate Analysis

In [ ]:
# Lets check which Airline is expensive based on Price of tickets
plt.figure(figsize=(15,5))
sns.barplot(df['Airline'],df["Price"],data=df)
plt.title("Checking which Airline is expensive based on ticket price")
plt.show()

The barplot shows that the Jet Airways is most expensive Airline followed by Multiple carriers and Air India.
The Trujet and Spicejet have low ticket prices compared to others.

In [ ]:
# Let's check how prices changes in each destination 

plt.figure(figsize=(8,6))
sns.barplot(df["Destination"],df["Price"],data=df,palette="husl" )
plt.title("Checking deastination based on ticket price")
plt.show()

The ticket price is high in Cochin destination followed by Bangalore.

In [ ]:
# Let's check the price vs total stops

plt.figure(figsize=(8,6))
sns.barplot(df["Total_Stops"],df["Price"],data=df,palette="ch:.28")
plt.title("Checking how price changes based on Stops")
plt.show()

We can see flights with 4 stops have highest price followed by flights having 3 stops and the flights which have no stops is having very less ticket price compared to others.

In [ ]:
#Let's compare Additional_Info and Price of the flights

plt.figure(figsize=(8,6))
sns.barplot(df["Additional_Info"],df["Price"],data=df)
plt.title("Checking how the prices changes with Additional_Info")
plt.xticks(rotation=90)
plt.show()

This plot shows that the Business class flights are more expensive compared to others and the flights having the class No check-in baggage included has very least ticket price.

In [ ]:
fig, axes = plt.subplots(2,2,figsize=(18,15))

# Checking relation between Journey_Day and Price
sns.boxenplot(x='Journey_Day',y='Price',ax = axes[0,0],data=df)

# Checking relation between Journey_Mionth and Price
sns.barplot(x='Journey_Month',y='Price',ax = axes[0,1],data=df,color='c')

# Checking relation between Dep_Min and Price
sns.boxplot(x='Dep_Min',y='Price',ax=axes[1,0],data=df)

# Checking relation between Dep_Hour and Price
sns.barplot(x='Dep_Hour',y='Price',ax=axes[1,1],data=df,palette="bright")

From the above plots we can observe the following

While comparing Journey_Day and Price we can see the price of ticket is high in Day 3 apart from this there is no much impact of day on ticket price.
While comparing Journey_Month and Price we can state that the flights travelling in January month are more expensive than others and the flights traveeling in April month have very cheap ticket prices.
There is no significance relation between Dep_Min and Price of the tickets.
In the fourth graph also we can say that there is no much impact of Dep_Hour on Proice.

In [ ]:
# Checking how the price pays role in Airline on the basis of destination
plt.figure(figsize=(8,6))
sns.stripplot(x=df['Airline'],y=df['Price'],hue=df["Destination"])
plt.title("Comparing Airline and Price on the basis of Destination")
plt.xticks(rotation=75)
plt.show()

Here we can conclude that the JetAirways flights taht are destined to Delhi are having more expensive ticket prices compared to others.

In [ ]:
#Checking relation between Arrival_Hour and Price
plt.figure(figsize=(8,6))
plt.title("Checking relation between Arrival_Hour and Price")
sns.stripplot(x='Arrival_Hour',y='Price',data=df, palette="ch:.28")
plt.xticks(rotation=75)
plt.show()

And we can see there is no relation of Arrival_time with the Price.

In [ ]:
# Checking how the price pays role in Source on the basis of Total_Stops
plt.figure(figsize=(8,6))
sns.stripplot(x=df['Source'],y=df['Price'],hue=df["Total_Stops"])
plt.title("Comparing Source and Price on the basis of Total_Stops")
plt.xticks(rotation=75)
plt.show()

As we can say that the flights in the Bangalore source which have only one stop between source and detination are very expensive while Chennai with no stops have very cheap prices compared to other source flights.

In [ ]:
sns.pairplot(df,hue="Price",palette='husl')
plt.show()

This pairplot gives the pairwise relation betweeen the columns which is plotted on the basis of target variable "Price". Here we can observe the relation between the features and the label.
Here we can observe the correlation between the features and on the diagonal we can notice the distribution plot which shows whether the columns has skewness or not.
We can also see the linear relation between the features.

Outliers

In [ ]:
# Identifying the outliers using boxplot

plt.figure(figsize=(15,15),facecolor="white")
plotnumber=1
for col in numerical_col:
    if plotnumber<=8:
        ax = plt.subplot(3,3,plotnumber)
        sns.boxplot(df[col],color="darkorange")
        plt.xlabel(col,fontsize=15)
    plotnumber+=1
plt.tight_layout()

The outliers are present in the columns "Duration","Journey_Month" and the target variable "Price".
Since "Price" is the target column so no need to remove outliers from this column.
We need to remove the outliers from the other two columns using zscore or IQR methods.

In [ ]:
Removing Outliers


Zscore method

In [ ]:
from scipy.stats import zscore
# Features containing outliers
features = df[["Duration","Journey_Month"]]
z = np.abs(zscore(features))
z

The outliers are removed

In [ ]:
# Creating new dataframe
new_df = df[(z<3).all(axis=1)]
new_df

This is the new dataframe after removing outliers. Here we have removed the outliers whose zscore is less than 3.

In [ ]:
# Checking the dimensions of both dataframes.
print(df.shape)
print(new_df.shape)

In [ ]:
#Checking data loss
loss = (10683-10617)/10683*100
loss

Here we are losing very less data. Lets try using IQR.

IQR(InterQuantileRange)

In [ ]:
# 1st quantile
Q1 = features.quantile(0.25)

#3rd quantile
Q3 = features.quantile(0.75)

IQR = Q3-Q1

df1 = df[~((df<(Q1-1.5*IQR))|(df>(Q3+1.5*IQR))).any(axis=1)]

In [ ]:
df1.shape

In [ ]:
# Checking data loss using IQR
loss = (10683-9657)/10683*100
loss

Using IQR method we are losing 9.6% data. Lets consider Zscore method.

Checking Skewness

In [ ]:
# Checking skewness 
new_df.skew()

Outcome of the skewness:

Skewness threshold is taken as +/-0.65.
We can find the skewnwss present in Price, Duration and Journey_Month columns.
As Price is the target column no need to remove skewness from that column but will remove skewness from the other two columns.

Removing Skewness using log transformation

In [ ]:
new_df['Duration'] = np.log1p(new_df['Duration'])
new_df['Journey_Month'] = np.log1p(new_df['Journey_Month'])

In [ ]:
# Checking skewness again
new_df.skew()

We can observe the skewness has been removed from Duration and Journey_Month columns.

In [ ]:
# Checking how the data has been distributed after removing skewness.
skew = ["Duration","Journey_Month"]
plt.figure(figsize=(15,15),facecolor="white")
plotnumber=1
for column in new_df[skew]:
    if plotnumber<=2:
        ax = plt.subplot(2,2,plotnumber)
        sns.distplot(df[column],color='g',kde_kws={"shade": True},hist=False)
        plt.xlabel(column,fontsize=20)
    plotnumber+=1
plt.show()

The data looks almost normal and skewness is also removed.

Label Encoding Categorical data

In [ ]:
categorical_col

In [ ]:
from sklearn.preprocessing import LabelEncoder
lbl = LabelEncoder()
new_df[categorical_col]=new_df[categorical_col].apply(lbl.fit_transform)
new_df

We have converted the categorical columns into numerical columns using label encoder.

Correlation

In [ ]:
# Checking the correlation between features and label
cor = new_df.corr()
cor

In [ ]:
# Visualizing the correlation matrix by plotting heatmap.
plt.figure(figsize=(20,15))
sns.heatmap(new_df.corr(),linewidths=.1,fmt=".1g",linecolor="black",annot=True,cmap="YlGnBu")

This heatmap shows the correaltion matrix by visualizing the data. We can observe the relation between one feature to other.

This heatmap contain both positive and negative correlation.
The feature Duration is highly positively correlated with the target variable "Price".
The feature Total_Stops is highly Negatively correlated with the label.
The features Duration, Total_Stops and Destination are highly negatively correlated with each other.This may lead to multicollinearity problem, we will check vif values to avoid this.

In [ ]:
cor["Price"].sort_values(ascending=False)

We can see the positive and negative correlation of target and features.

Visualizing the correlation between features and label using bar plot.

In [ ]:
plt.figure(figsize=(22,7))
new_df.corr()["Price"].sort_values(ascending=False).drop(["Price"]).plot(kind="bar",color="purple")
plt.xlabel('Features',fontsize=20)
plt.ylabel('Target',fontsize=20)
plt.title('Correlation between label and features using barplot')
plt.show()

The features Journey_Month, Source, Arrival_Hour,Dep_Hour and Airline have very less correlation with the label so we can drop thee columns.

Separating the features and label.

In [ ]:
x = new_df.drop("Price",axis=1)
y = new_df["Price"]

In [ ]:
x.shape

In [ ]:
y.shape

Feature Scaling using Standard Scalarization

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = pd.DataFrame(scaler.fit_transform(x),columns=x.columns)
x

We have scaled the data using Standard Scalarization method to overcome the problem of biasness.

Checking VIF

In [ ]:
# Finding variance inflation factor
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = pd.DataFrame()
vif["VIF Values"] = [variance_inflation_factor(x.values,i) for i in range(len(x.columns))]
vif['Features'] = x.columns
vif

As we can notice the vif values is less than 10 in all the columns,there is no multicollinearity exists. WE can move ahead for model building.

Modeling

Finding the best random state

In [ ]:
from sklearn.model_selection import train_test_split as TTS
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [ ]:
from sklearn.ensemble import RandomForestRegressor
maxAccu = 0
maxRS = 0
for i in range(1,200):
    x_train,x_test,y_train,y_test = TTS(x,y,test_size=0.30,random_state=i)
    mod = RandomForestRegressor()
    mod.fit(x_train,y_train)
    pred = mod.predict(x_test)
    acc = r2_score(y_test,pred)
    if acc>maxAccu:
        maxAccu = acc
        maxRs = i
print("Maximum r2_score is ",maxAccu,"at random_state",maxRS)

Creating new train_test_split

In [ ]:
x_train,x_test,y_train,y_test = TTS(x,y,test_size=0.30,random_state=maxRS)

Regression Algorithms

In [ ]:
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,AdaBoostRegressor,BaggingRegressor
from sklearn.tree import DecisionTreeRegressor
import xgboost as xgb
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score
from sklearn import metrics

Random Forest Regressor

In [ ]:
# Checking R2 score for RandomForestRegressor
RFR = RandomForestRegressor()
RFR.fit(x_train,y_train)
predRFR = RFR.predict(x_test)
print("R2_score:",r2_score(y_test,predRFR))
print("MAE:",metrics.mean_absolute_error(y_test,predRFR))
print("MSE:",metrics.mean_squared_error(y_test,predRFR))
print("RSME:",np.sqrt(metrics.mean_squared_error(y_test,predRFR)))

In [ ]:
# Visualizing the predicted values
sns.regplot(y_test,predRFR,color='darkorange')
plt.show()

The predicted R2 score using Random Forest Regressor is 88.92%.

Decision Tree Regressor

In [ ]:
# Checking R2 score for DecisionTreeRegressor
DTR = DecisionTreeRegressor()
DTR.fit(x_train,y_train)
predDTR = DTR.predict(x_test)
print("R2_score:",r2_score(y_test,predDTR))
print("MAE:",metrics.mean_absolute_error(y_test,predDTR))
print("MSE:",metrics.mean_squared_error(y_test,predDTR))
print("RSME:",np.sqrt(metrics.mean_squared_error(y_test,predDTR)))

In [ ]:
# Visualizing the predicted values
sns.regplot(y_test,predDTR,color='darkorange')
plt.show()

The predicted R2 score using DecisionTreeRegressor is 77.93%.